.header {
  background: $mainBlue;
  width: 100%;
  margin: 0;
  text-align: center;
}
.hamburgerIcon {
  max-height: 28px;
  float: left;
  padding: 3px 3px 3px 5px;
  position: relative;
  top: 5px;
  left: 4px;
  cursor: pointer;
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -ms-filter: invert(100%);
  -o-filter: invert(100%);
  filter: invert(100%);
}
.mainLogo {
  max-height: 35px;
  padding: 3px 3px 3px 5px;
  position: relative;
  right: 23px;
}
.mainLogoText {
  color: white;
  position: relative;
  font-size: 24px;
  top: -10px;
  right: 40px;
}
.headerButton {
  float: right;
  background: white;
  color: black;
  padding: 5px;
  margin: 7px;
  &:active {
    background: #ccc;
  }
}
.headerBtnText {
  padding: 5px;
}
.logoutImg {
  max-height: 20px;
}
.mainContainer {
  width: 100%;
}
.containerBox {
  background: $mainBlue;
  border-radius: 5px;
  width: 100%;
  padding: 5px 5px 5px 5px;
  margin: 5px;
}
.leftContainer {
  float: left;
  width: 47%;
}
.chatBox {
  height: 30%;
}
.chatMessages {
  background: white;
  color: black;
  margin: 5px auto;
  padding: 2px;
  width: 99%;
  overflow-y: scroll;
  min-height: 75px;
  ul {
    margin: 0px;
    list-style: none;
    padding-left: 0px;
    li:nth-child(even){
      background: #ddd;
    }
  }
}
.chatInput {
  width: 99%;
}
.chatImg {
  max-height: 75px;
  max-width: 140px;
}
.mainOptionsBtn {
  width: 49%;
  float: left;
}
.mainOptionsContent {
  background: white;
  color: black;
  margin: 5px;
  padding: 7px;
  text-align: center;
}
.addSongContent {
  display: none;
}
.searchInput {
  width: 100%;
  text-align: center;
}
.rightContainer {
  float: right;
  margin: 5px;
  width: 50%;
}
.ytContainer {
  margin: auto;
  display: inline-block;
}
#player {
  pointer-events: none;
}
.videoTitle {
  color: black;
  display: block;
  text-align: center;
  padding: 0px 10px 10px 10px;
  font-size: 20px;
  font-weight: 600;
}
.djBtn {
  margin: auto;
  width: 100%;
}
.leaveDJ {
  display: none;
}
.containerBoxRight {
  background: $mainBlue;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  margin: 5px 0px 0px 0px;
}
.djQueue {
  text-align: center;
  font-size: 20px;
  ul {
    background: white;
    margin: 0px;
    list-style: none;
    padding-left: 0px;
    overflow-y: scroll;
    li {
      display: block;
      background: $mainBlue;
      padding: 3px;
      margin: 5px;
      font-family: $logoFont;
      font-size: 22px;
    }
  }
}
.playlistContent {
  overflow-y: scroll;
  ul {
    list-style: none;
    padding-left: 0px;
  }
}
.playlistIMG {
  max-height: 60px;
  margin: 4px 4px -2px 70px;
}
.removeSongBtn{
  float: right;
  margin: 8px;
}
.songSearches {
  overflow-y: scroll;
}
.searchedVideoDiv {
  background: $mainBlue;
  margin: 5px 2px 5px 5px;
  color: white;
}
.addSongToPlaylist {
  float: right;
  margin: 8px;
}
.centerSearchIMG {
  margin: 4px 4px -2px 70px;
}
