.header {
  background: $mainBlue;
  width: 100%;
  margin: 0;
  text-align: center;
}
.dropdown {
  float: left;
  padding: 3px 3px 3px 5px;
  position: relative;
  top: 5px;
  left: 4px;
}
.hamburgerIcon {
  max-height: 28px;
  cursor: pointer;
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -ms-filter: invert(100%);
  -o-filter: invert(100%);
  filter: invert(100%);
}
.dropdownList {
  display: none;
  position: absolute;
  background-color: $mainBlue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: -5px;
  top: 40px;
}
.dropdownItem {
  padding: 8px;
}
.dropdownItem:hover {
  background: $mainGreen;
  cursor: pointer;
}
.mainLogo {
  max-height: 35px;
  padding: 3px 3px 3px 5px;
  position: relative;
  right: 23px;
}
.mainLogoText {
  color: white;
  position: relative;
  font-size: 24px;
  top: -10px;
  right: 40px;
}
.headerButton {
  float: right;
  background: white;
  color: black;
  padding: 5px;
  margin: 7px;
  &:active {
    background: #ccc;
  }
}
.headerBtnText {
  padding: 5px;
}
.userListContainer {
  position: absolute;
  display: none;
  z-index: 5;
  left: 45px;
  top: 93px;
  background: $mainBlue;
  width: 300px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
}
.userListHeader {
  text-align: center;
  border: 4px solid #3450A0;
  padding: 5px;
  cursor: move;
}
.exitBtn {
  float: right;
  color: black;
  background: white;
  border: 1px solid black;
  padding: 0px 3px 0px 3px;
  top: -1px;
  left: 2px;
  position: relative;
  cursor: pointer;
  &:hover {
    color: white;
    background: black;
  }
}
.userListList {
  height: 128px;
  background: white;
  margin: 0px 4px 4px 4px;
  overflow-y: scroll;
  padding: 0;
  list-style-type: none;
  li {
    text-align: center;
    display: block;
    background: #34509D;
    padding: 3px;
    margin: 5px;
    font-family: $logoFont;
  }
}
.mainContainer {
  width: 100%;
}
.containerBox {
  background: $mainBlue;
  border-radius: 5px;
  width: 100%;
  padding: 5px 5px 5px 5px;
  margin: 5px;
}
.leftContainer {
  float: left;
  width: 47%;
}
.chatBox {
  height: 30%;
}
.chatMessages {
  background: white;
  color: black;
  margin: 5px auto;
  padding: 2px;
  width: 99%;
  overflow-y: scroll;
  min-height: 75px;
  ul {
    margin: 0px;
    list-style: none;
    padding-left: 0px;
    li:nth-child(even){
      background: #ddd;
    }
  }
}
.chatInput {
  width: 99%;
}
.chatImg {
  max-height: 75px;
  max-width: 140px;
}
.mainOptionsBtn {
  width: 49%;
  float: left;
}
.mainOptionsContent {
  background: white;
  color: black;
  margin: 5px;
  padding: 7px;
  text-align: center;
}
.addSongContent {
  display: none;
}
.searchInput {
  width: 100%;
  text-align: center;
}
.rightContainer {
  float: right;
  margin: 5px;
  width: 50%;
}
.ytContainer {
  margin: auto;
  display: inline-block;
}
#player {
  pointer-events: none;
}
.videoTitle {
  color: black;
  display: block;
  text-align: center;
  padding: 0px 10px 10px 10px;
  font-size: 20px;
  font-weight: 600;
}
.djBtn {
  margin: auto;
  width: 100%;
}
.leaveDJ {
  display: none;
}
.containerBoxRight {
  background: $mainBlue;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  margin: 5px 0px 0px 0px;
}
.djQueue {
  text-align: center;
  font-size: 20px;
  ul {
    background: white;
    margin: 0px;
    list-style: none;
    padding-left: 0px;
    overflow-y: scroll;
    li {
      display: block;
      background: $mainBlue;
      padding: 3px;
      margin: 5px;
      font-family: $logoFont;
      font-size: 22px;
    }
  }
}
.playlistContent {
  overflow-y: scroll;
  ul {
    list-style: none;
    padding-left: 0px;
  }
}
.playlistIMG {
  max-height: 60px;
  margin: 4px 4px -2px 70px;
}
.removeSongBtn{
  float: right;
  margin: 8px;
}
.songSearches {
  overflow-y: scroll;
}
.searchedVideoDiv {
  background: $mainBlue;
  margin: 5px 2px 5px 5px;
  color: white;
}
.addSongToPlaylist {
  float: right;
  margin: 8px;
}
.centerSearchIMG {
  margin: 4px 4px -2px 70px;
}
