@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
.wordwrap {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */ }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white; }

button {
  background: #55c247;
  background: -moz-linear-gradient(top, #55c247 0%, #3b9928 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #55c247), color-stop(100%, #3b9928));
  background: -webkit-linear-gradient(top, #55c247 0%, #3b9928 100%);
  background: -o-linear-gradient(top, #55c247 0%, #3b9928 100%);
  background: -ms-linear-gradient(top, #55c247 0%, #3b9928 100%);
  background: linear-gradient(to bottom, #55c247 0%, #3b9928 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55c247', endColorstr='#3b9928', GradientType=0 );
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: box-shadow 0.2s, border 0.2s; }
  button:hover {
    box-shadow: 0 0 5px 1px #969696; }
  button:active {
    background: #55c247; }

input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  margin: 2px;
  border: solid 1px #dcdcdc;
  border-radius: 3px;
  transition: box-shadow 0.3s, border 0.3s; }
  input:focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696; }

.redBtn {
  background: #f85032;
  background: -moz-linear-gradient(top, #f85032 0%, #ff1500 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f85032), color-stop(100%, #ff1500));
  background: -webkit-linear-gradient(top, #f85032 0%, #ff1500 100%);
  background: -o-linear-gradient(top, #f85032 0%, #ff1500 100%);
  background: -ms-linear-gradient(top, #f85032 0%, #ff1500 100%);
  background: linear-gradient(to bottom, #f85032 0%, #ff1500 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#ff1500', GradientType=0 ); }
  .redBtn:active {
    background: #f85032; }

.btn {
  background: #55c247;
  background: -moz-linear-gradient(top, #55c247 0%, #3b9928 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #55c247), color-stop(100%, #3b9928));
  background: -webkit-linear-gradient(top, #55c247 0%, #3b9928 100%);
  background: -o-linear-gradient(top, #55c247 0%, #3b9928 100%);
  background: -ms-linear-gradient(top, #55c247 0%, #3b9928 100%);
  background: linear-gradient(to bottom, #55c247 0%, #3b9928 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55c247', endColorstr='#3b9928', GradientType=0 );
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: box-shadow 0.2s, border 0.2s; }
  .btn:hover {
    box-shadow: 0 0 5px 1px #969696; }
  .btn:active {
    background: #55c247; }

.loaderBody {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  padding: 0px;
  width: 100%;
  height: 100%;
  background: white; }

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100; }

.logoLoginRegisterContainer {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%); }

.loginRegisterBox {
  border-radius: 5px;
  background: #34509D;
  padding: 10px;
  -moz-box-shadow: 0 0 20px #000;
  -webkit-box-shadow: 0 0 20px #000;
  box-shadow: 0 0 20px #000;
  color: white;
  margin: auto;
  text-align: center;
  min-width: 378px; }

.logoContainer {
  padding: 17px;
  margin: auto;
  text-align: center;
  display: none; }

.loginLogo {
  max-height: 75px; }

.logoText {
  font-family: "Ubuntu Mono", sans-serif;
  color: black;
  padding: 17px;
  font-size: 35px;
  line-height: 0.8; }

.loginError {
  display: none;
  text-align: center; }

.loginContainer {
  display: none; }

.login {
  width: 186px; }

.registerContainer {
  display: none; }

.registerError {
  display: none;
  text-align: center; }

.register {
  width: 186px; }

.suggestSwapBox {
  display: none; }

.header {
  background: #34509D;
  width: 100%;
  margin: 0;
  text-align: center; }

.dropdown {
  float: left;
  padding: 3px 3px 3px 5px;
  position: relative;
  top: 5px;
  left: 4px; }

.hamburgerIcon {
  max-height: 28px;
  cursor: pointer;
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -ms-filter: invert(100%);
  -o-filter: invert(100%);
  filter: invert(100%); }

.dropdownList {
  display: none;
  position: absolute;
  background-color: #34509D;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: -5px;
  top: 40px; }

.dropdownItem {
  padding: 8px; }

.dropdownItem:hover {
  background: #56C247;
  cursor: pointer; }

.mainLogo {
  max-height: 35px;
  padding: 3px 3px 3px 5px;
  position: relative;
  right: 23px; }

.mainLogoText {
  color: white;
  position: relative;
  font-size: 24px;
  top: -10px;
  right: 40px; }

.headerButton {
  float: right;
  background: white;
  color: black;
  padding: 5px;
  margin: 7px; }
  .headerButton:active {
    background: #ccc; }

.headerBtnText {
  padding: 5px; }

.userListContainer {
  position: absolute;
  display: none;
  z-index: 5;
  left: 45px;
  top: 93px;
  background: #34509D;
  width: 300px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000; }

.userListHeader {
  text-align: center;
  border: 4px solid #3450A0;
  padding: 5px;
  cursor: move; }

.exitBtn {
  float: right;
  color: black;
  background: white;
  border: 1px solid black;
  padding: 0px 3px 0px 3px;
  top: -1px;
  left: 2px;
  position: relative;
  cursor: pointer; }
  .exitBtn:hover {
    color: white;
    background: black; }

.userListList {
  height: 128px;
  background: white;
  margin: 0px 4px 4px 4px;
  overflow-y: scroll;
  padding: 0;
  list-style-type: none; }
  .userListList li {
    text-align: center;
    display: block;
    background: #34509D;
    padding: 3px;
    margin: 5px;
    font-family: "Ubuntu Mono", sans-serif; }

.mainContainer {
  width: 100%; }

.containerBox {
  background: #34509D;
  border-radius: 5px;
  width: 100%;
  padding: 5px 5px 5px 5px;
  margin: 5px; }

.leftContainer {
  float: left;
  width: 47%; }

.chatBox {
  height: 30%; }

.chatMessages {
  background: white;
  color: black;
  margin: 5px auto;
  padding: 2px;
  width: 99%;
  overflow-y: scroll;
  min-height: 75px; }
  .chatMessages ul {
    margin: 0px;
    list-style: none;
    padding-left: 0px; }
    .chatMessages ul li:nth-child(even) {
      background: #ddd; }

.chatInput {
  width: 99%; }

.chatImg {
  max-height: 75px;
  max-width: 140px; }

.mainOptionsBtn {
  width: 49%;
  float: left; }

.mainOptionsContent {
  background: white;
  color: black;
  margin: 5px;
  padding: 7px;
  text-align: center; }

.addSongContent {
  display: none; }

.searchInput {
  width: 100%;
  text-align: center; }

.rightContainer {
  float: right;
  margin: 5px;
  width: 50%; }

.ytContainer {
  margin: auto;
  display: inline-block; }

#player {
  pointer-events: none; }

.videoTitle {
  color: black;
  display: block;
  text-align: center;
  padding: 0px 10px 10px 10px;
  font-size: 20px;
  font-weight: 600; }

.djBtn {
  margin: auto;
  width: 100%; }

.leaveDJ {
  display: none; }

.containerBoxRight {
  background: #34509D;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  margin: 5px 0px 0px 0px; }

.djQueue {
  text-align: center;
  font-size: 20px; }
  .djQueue ul {
    background: white;
    margin: 0px;
    list-style: none;
    padding-left: 0px;
    overflow-y: scroll; }
    .djQueue ul li {
      display: block;
      background: #34509D;
      padding: 3px;
      margin: 5px;
      font-family: "Ubuntu Mono", sans-serif;
      font-size: 22px; }

.playlistContent {
  overflow-y: scroll; }
  .playlistContent ul {
    list-style: none;
    padding-left: 0px; }

.playlistIMG {
  max-height: 60px;
  margin: 4px 4px -2px 70px; }

.removeSongBtn {
  float: right;
  margin: 8px; }

.option {
  float: left;
  margin: 8px; }

.songSearches {
  overflow-y: scroll; }

.searchedVideoDiv {
  background: #34509D;
  margin: 5px 2px 5px 5px;
  color: white; }

.addSongToPlaylist {
  float: right;
  margin: 8px; }

.centerSearchIMG {
  margin: 4px 4px -2px 70px; }

/*# sourceMappingURL=style.css.map */
